*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 13px / 1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  background-color: #fff;
}

a {
  color: #4078c0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a:active,
a:hover,
button {
  outline: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

img {
  border: none;
}

blockquote {
  color: #666;
}

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

tt,
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

input {
  line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input,
select,
textarea,
button {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
select,
textarea {
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

ul {
  padding-left: 18px;
}

body > header {
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 1000px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

header > div {
  width: 980px;
  margin: 0 auto;
  line-height: 36px;
}

header a {
  color: inherit;
}

header h1 {
  display: inline-block;
  margin: 0;
  padding-left: 48px;
  background: url(../../icon.png) no-repeat left center/36px 36px;
  font-size: 13px;
  font-weight: 600;
}

body > main {
  width: 980px;
  margin: 0 auto;
}

body > main::before,
body > main::after {
  content: "";
  display: table;
}

body > main::after {
  clear: both;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.btn:hover,
.btn:active {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

.btn:active {
  background-color: #dcdcdc;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

.btn:disabled,
.btn:disabled:hover,
.btn.disabled,
.btn.disabled:hover {
  color: rgba(102,102,102,0.5);
  cursor: default;
  background-color: rgba(229,229,229,0.5);
  background-image: none;
  border-color: rgba(197,197,197,0.5);
  box-shadow: none;
}

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
}

.btn-primary:hover {
  color: #fff;
  background-color: #569e3d;
  background-image: -webkit-linear-gradient(#79d858, #569e3d);
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}

.btn-primary:active {
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  background-color: #569e3d;
  background-image: none;
  border-color: #418737;
}

.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #fefefe;
    background-color: #add39f;
    background-image: -webkit-linear-gradient(#c3ecb4, #add39f);
    background-image: linear-gradient(#c3ecb4, #add39f);
    border-color: #b9dcac #b9dcac #a7c89b;
}

.btn-sm {
  padding: 2px 10px;
}

.text-small {
  font-size: 12px;
}

.text-muted {
  color: #767676;
}

.octicon {
  font: 16px/1 octicons;
  display: inline-block;
  vertical-align: text-top;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mega-octicon {
  position: absolute;
  top: 14px;
  left: 0;
  width: 32px;
  height: 32px;
  padding: 3px;
  color: #bbb;
}

main {
  display: block;
}

main > article {
  float: left;
  width: 66.666667%;
  padding-right: 10px;
}

article > section > section > h1 {
  font-size: 1.33em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.intro {
  margin-top: 10px;
  line-height: 1.6;
}

.intro > section {
  border-top: 1px solid #f1f1f1;
}

.intro .disclaimer {
  position: relative;
  margin-top: 20px;
  padding: 0 10px 0 48px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #f5f5f5;
}

.disclaimer .mega-octicon {
  left: 6px;
}

.intro .desc {
  border-top: none;
}

.news {
  margin-top: 20px;
}

.news blockquote {
  margin: 0;
}

.news .message,
.news li blockquote {
  display: inline;
  font-size: 13px;
  color: #666;
}

.news .alert {
  position: relative;
  padding: 0 0 1em 45px;
  overflow: hidden;
  border-top: 1px solid #f1f1f1;
}

.news .alert .title {
  font-weight: 600;
}

.news .alert .body {
  padding: 1em 0 0;
  overflow: hidden;
  font-size: 14px;
  border-bottom: 0;
}

.news .alert .gravatar {
  float: left;
  margin-right: 0.6em;
  line-height: 0;
  background-color: #fff;
  border-radius: 3px;
}

.news .alert .commits {
  padding-left: 40px;
}

.news .alert .octicon {
  width: 16px;
  height: 16px;
  color: #bbb;
}

.news .alert .pull-info {
  display: inline-block;
  padding: 3px 7px;
  margin-top: 5px;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  background: #e8f1f6;
  border-radius: 3px;
}

.news .alert .pull-info em {
  font-style: normal;
  font-weight: 600;
}

.news .commits li {
  margin-top: 0.15em;
  list-style-type: none;
}

.news .commits li img {
  margin: 0 1px 0 0;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 2px;
}

.news .simple .title {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  color: #666;
}

.news .simple .octicon {
  position: absolute;
  left: 11px;
  width: 16px;
  height: 16px;
  color: #bbb;
}

.news .time {
  display: inline-block;
  font-size: 12px;
  color: #bbb;
}

.sidebar {
  float: right;
  width: 33.333333%;
  padding-left: 10px;
}

.sidebar .boxed-group {
  position: relative;
  margin-top: 20px;
  border-radius: 3px;
}

.boxed-group > h3 {
  display: block;
  background-color: #f5f5f5;
  margin: 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
}

.boxed-group-action {
  float: right;
  margin: 6px 10px 0 0;
  position: relative;
  z-index: 2;
}

.counter {
  display: inline-block;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  color: #666;
  background-color: #eee;
  border-radius: 20px;
}

.boxed-group .counter {
  color: #fff;
  background-color: #babec0;
}

.boxed-group-inner {
  padding: 1px 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
  font-size: 13px;
}

.boxed-group.flush .boxed-group-inner {
  padding: 0;
}

.mini-repo-list {
  list-style: none;
  padding: 0;
}

.mini-repo-list a {
  position: relative;
  display: block;
  padding: 6px 64px 6px 30px;
  font-size: 14px;
  border-top: 1px solid #e5e5e5;
}

.mini-repo-list > li:first-child a {
  border-top: 0;
}

.mini-repo-list .repo-icon {
  float: left;
  margin-top: 2px;
  margin-left: -20px;
  color: #666;
}

.mini-repo-list .repo-and-owner {
  display: inline-block;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

.mini-repo-list .stars {
  position: absolute;
  top: 0;
  right: 10px;
  margin-top: 6px;
  font-size: 12px;
  color: #888;
}

.mini-repo-list .repo {
  font-weight: 600;
}

.filter-bar {
  padding: 10px;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.filter-repos {
  overflow: hidden;
  padding-bottom: 0;
  text-align: center;
}

.filter-bar .filter-input {
  width: 100%;
  min-height: 26px;
  padding: 3px 10px;
  font-size: 11px;
  border-radius: 12px;
}

.repo-filterer {
  display: inline-block;
  margin-top: 6px;
  list-style: none;
}

.repo-filterer li {
  display: inline-block;
}

.repo-filterer .repo-filter {
  display: inline-block;
  padding: 5px 5px 6px;
  margin-right: 5px;
  border-bottom: 2px solid transparent;
}

.repo-filterer .repo-filter.filter-selected {
  color: #333;
  text-decoration: none;
  border-bottom-color: #d26911;
  outline: none;
}

.features {
  margin-top: 20px;
  line-height: 1.6;
}

.features ul {
  list-style: none;
}

.features li {
  position: relative;
  display: block;
  padding: 6px 12px 6px 30px;
  border-top: 1px solid #e5e5e5;
  font-size: 12px;
}

.features li:first-child {
  border-top: none;
}

.features .octicon {
  float: left;
  margin-top: 2px;
  margin-left: -20px;
  font-size: 14px;
  color: #666;
}

.state {
  display: inline-block;
  padding: 4px 8px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  background-color: #999
}

.state-open,
.state-proposed,
.state-reopened {
  background-color: #6cc644
}

.state-merged {
  background-color: #6e5494
}

.state-closed {
  background-color: #bd2c00
}

.state-renamed {
  background-color: #fffa5d
}

.install-panel {
  display: none;
}

.install {
  width: 120px;
  margin-right: 5px;
}

.hint {
  color: #767676;
}

.alt {
  color: #bbb;
}

main > footer {
  position: relative;
  clear: both;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee;
}

main > footer img {
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -14px;
}

#social {
  float: right;
}

.social {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.btn-with-count {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.social-count {
  float: left;
  padding: 2px 7px;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fallback {
  display: none;
}

.diffstat {
  font-size: 12px;
  font-weight: 600;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

.text-diff-added {
  color: #55a532 !important;
}

.text-diff-deleted {
  color: #bd2c00 !important;
}

.commit-ref {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  font: 0.75em/2 Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #336479;
  white-space: nowrap;
  background-color: #e8f0f8;
  border-radius: 3px;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.3s;
  cursor: pointer;
}

#overlay.ok {
  transform: scale(10);
  opacity: 0;
  pointer-events: none;
}

#overlay .disclaimer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px 0 48px;
  border: 3px solid #d8d8d8;
  border-radius: 3px;
  background-color: #f5f5f5;
}

#overlay .disclaimer .alt {
  text-align: center;
}
