/**********
 * Utils
 **********/
$sans-serif = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$monospace = Consolas, "Liberation Mono", Menlo, Courier, monospace
$bright-background = rgba(255, 255, 255, .15)
$light-background = rgba(108, 108, 108, .5)
$primary-color = #0366d6

/**********
 * Global
 **********/
.ghh
  max-width 320px
  min-width 160px
  font-style normal
  line-height 2
  font-family $sans-serif

  &.extended
    max-width 640px

  p
    margin 0 0 4px
    vertical-align middle
    line-height 1.2
    ellipsis()
    clear both

  a
    color lightness($primary-color, 85%)

  small
    opacity .8

  [title]
    cursor help

  .octicon
    fill currentColor

  .windows &
    ::-webkit-scrollbar
      width 20px
      height 20px
      padding 3px
      background-color transparent

    ::-webkit-scrollbar-button
      display none

    ::-webkit-scrollbar-thumb
      background-color $bright-background
      border: 6px solid transparent
      background-clip: padding-box
      border-radius: 12px

    ::-webkit-scrollbar-corner
      background-color transparent

/**********
 * Mixins
 **********/
ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

square(s)
  width s
  height s

/**********
 * Placeholders
 **********/
$with-large-icon
  position relative
  margin-top 2px
  margin-bottom 12px
  padding-left 24px

  .octicon
    position absolute
    top 0
    left 0
    line-height 1


$fix-margin
  & > :first-child
    margin-top 0

  & > :last-child
    margin-bottom 0

$markdown-body
  @extends $fix-margin

  clear left
  overflow auto
  max-height 280px
  margin 8px 0 3px
  padding 8px 10px
  border-radius 2px
  background-color $bright-background
  font-size 12px
  line-height 1.6
  word-wrap break-word

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    margin-top 1em
    margin-bottom 12px
    font-weight 600
    line-height 1.4

    tt,
    code
      font-size inherit
      font-family $monospace

  h1
    font-size 1.25em
  h2
    font-size 1.2em
  h3
    font-size 1.15em
  h4
    font-size 1.1em
  h5
    font-size 1.05em
  h6
    font-size 1em

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre
    margin-top 0
    margin-bottom 1em

  hr
    height 0
    padding 0
    margin 16px 0
    border-bottom 2px dotted rgba(255, 255, 255, .2)

  a:not([href])
    color inherit

  p
    overflow visible
    white-space normal
    line-height 1.6

  ul,
  ol
    padding-left 2em

    ol,
    ul
      margin-top 0
      margin-bottom 0

  dl
    padding 0

  dt
    padding 0
    margin-top 1em
    font-size 1em
    font-style italic
    font-weight 600

  dd
    padding 0 1em
    margin-bottom 1em

  blockquote
    padding 0 1em
    border-left 3px solid #ccc

  table
    width 100%
    overflow auto
    word-break normal
    word-break keep-all

  th
    font-weight 600

  th,
  tr:nth-child(even) td
    background-color $light-background

  th,
  td
    border 1px solid #777
    padding .5em 1em

  img
    max-width 100%

  code,
  tt
    padding .2em .4em
    margin 0
    background-color $bright-background
    border-radius 2px

    br
      display none

  pre
    padding .6em
    overflow auto
    line-height 1.45
    background-color $light-background
    border-radius 2px
    word-wrap normal
    font-family $monospace

    code,
    tt
      background-color transparent

  .border.rounded-1.my-2
    overflow hidden

  .px-3.py-2
    padding .6em !important

  .border
    border 1px solid rgba(255, 255, 255, .2) !important

  .border-bottom
    border-bottom 1px solid rgba(255, 255, 255, .1) !important

  .rounded-1
    border-radius 2px !important

  .text-gray-light
    color #fff !important

  .f6
    font-size 11px !important

  .bg-gray-light
    background-color $bright-background !important

  .bg-white
    background-color transparent !important

  .blob-wrapper
    padding .5em 0 !important
    background-color $light-background !important

  .blob-num
    min-width 30px !important
    padding 0 .6em !important
    color rgba(255, 255, 255, .5) !important
    font-family $monospace !important

  .blob-num,
  .blob-code
    line-height 1.45

  .blob-code-inner
    color #fff !important
    font-family $monospace !important

  .js-line-number
    pointer-events none !important
    cursor default

  img
    max-width 100%
    box-sizing content-box

    &[align="left"]
      max-width 30% !important
      padding-right 20px

    &[align="right"]
      max-width 30% !important
      padding-left 20px

  /* some special vendor optimizations */
  a[href^="https://saucelabs.com/"] img
    background-color #fff
    border-radius 2px

$contribution
  p
    line-height 18px

  .ghh-branch
    display flex

  .commit-ref
    flex 0 1 auto
    float left
    border-radius 2px
    background-color $bright-background
    color inherit
    font-size inherit
    ellipsis()

    & + span
      flex 0 0 auto
      float left
      padding 0 5px

      & > .octicon
        height 22px
        vertical-align middle

    & + .octicon
      margin 0

    .user
      color inherit
      opacity .5

  .octicon
    opacity .8
    margin-left 10px

    &:first-child
      margin-left 0

  .diffstat
    margin-left 10px

  .text-diff-added
    color #84d063 !important

  .text-diff-deleted
    color #ff3c00 !important

/**********
 * Common
 **********/
.ghh
  button
    padding 0 4px
    border-radius 2px
    border none
    outline none
    color #fff
    line-height 1.8
    font-size 90%
    font-weight 600

    &:disabled
      opacity .75
      cursor default

    &.ghh-primary
      background-color alpha($primary-color, .8)

      &:hover
        background-color $primary-color

    &.ghh-aux
      background-color rgba(255, 255, 255, .2)
      color rgba(255, 255, 255, .8)

      &:hover
        background-color rgba(255, 255, 255, .3)
        color #fff

    .octicon
      position static

  .ghh-state
    display inline-block
    margin-right 5px
    padding 0 4px
    border-radius 3px
    color #fff
    font-weight 600
    line-height 20px
    vertical-align middle
    text-align center
    text-transform capitalize

    &-open
      background-color #2cbe4e

    &-closed
      background-color #cb2431

    &-merged
      background-color #6f42c1

    .octicon
      margin-right 4px
      vertical-align -3px

    &-alert
      color #ff3c00

    &-success
      color #84d063

    &-warning
      color #dbab09

  .ghh-state-verified
    background-color #28a745

.ghh-title-row
  display flex

  .ghh-title
    flex 0 1 auto
    ellipsis()

    &.no-meta
      flex-grow 1

  .ghh-meta,
  button
    white-space nowrap
    margin-left 10px

  .ghh-meta
    flex 0 0 auto
    margin-left 5px
    line-height 15px

    &:last-of-type
      flex-grow 1

  button
    flex 0 0 auto
    transition all .3s

/**********
 * More
 **********/
.ghh-more
  clear left

  &-separator
    height 0
    margin 10px 0 5px
    padding 0
    border-bottom 1px dotted rgba(255, 255, 255, .2)

  p
    position relative
    padding-left 18px
    line-height 18px

  strong
    font-weight 600

  .ghh-repo-desc
    white-space normal
    height auto

  .emoji
    vertical-align middle

  .octicon
    position absolute
    top 2px
    left 0
    width 16px
    margin 0
    opacity .8

/**********
 * User
 **********/
.ghh-person
  @extends $with-large-icon
  min-height 32px
  margin-bottom 8px
  padding-left 40px

  strong
    font-size 120%

.ghh-avatar
  position absolute
  top 0
  left 0
  square(32px)
  margin 0 8px 8px 0
  border 2px solid rgba(255, 255, 255, .1)
  border-radius 2px
  background-color #fff

/**********
 * Repo
 **********/
.ghh-repo
  @extends $with-large-icon

  strong
    font-size 110%
    font-weight 600

  p
    max-width 296px

  .ghh-title
    font-size 13px
    flex-grow 1

.ghh-topic
  display inline-block
  margin-bottom 3px
  padding 0 3px
  background-color $bright-background
  color #fff
  line-height 18px
  text-decoration none !important
  border-radius 3px

  &:not(:last-child)
    margin-right 4px

.ghh-stats
  display flex
  min-width 180px
  margin-bottom 10px
  padding 3px
  border-radius 2px
  background-color $bright-background
  line-height 1

  strong,
  span
    display block
    padding 2px 4px
    line-height 1
    text-align center

  span
    font-style 70%
    color #fff
    opacity .8

  a
    display block
    flex 1 1 auto

    &:hover
      text-decoration none

.ghh-readme
  @extends $markdown-body

/**********
 * Issue
 **********/
.ghh-issue
  margin-bottom 8px

  strong
    font-size 120%

  .issue-number
    opacity .8

.ghh-issue-meta
  p
    line-height 16px

  .ghh-avatar
    margin 0 5px 0 0
    square(16px)
    border-width 1px
    vertical-align middle
    line-height 1.2

.ghh-pull-meta
  @extends $contribution

  .ghh-reviews
    margin-top 8px

    li
      display inline-block
      margin-right 5px
      margin-bottom 4px
      padding 0 5px
      border-radius 2px
      background-color $bright-background
      height 22px
      line-height 22px

    .ghh-state-icon
      display inline-block
      position relative
      width 12px
      height 12px
      border-radius 50%
      vertical-align -1.5px
      color #fff

      .octicon
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

      &-alert
        background-color #ff3c00

      &-success
        background-color #84d063

      &-warning
        background-color #dbab09

      &-problem
        background-color #6a737d

        .octicon
          top: 47%

    .octicon
      position relative
      top 50%
      transform translateY(-50%)
      vertical-align top

.ghh-issue-body
  @extends $markdown-body

/**********
 * Commit
 **********/
.ghh-commit
  margin-bottom 8px

  strong
    font-size 120%


.ghh
  .ghh-commit-author
    margin-bottom 6px

  .ghh-tags
    white-space normal

.ghh-commit-meta
  @extends $contribution

.ghh-commit-body
  overflow auto
  max-height 280px
  margin 8px 0 10px
  padding 8px 10px
  border-radius 2px
  background-color $bright-background
  font-family $monospace
  font-size 12px
  line-height 1.2
  white-space pre-wrap
  word-wrap break-word

.ghh-tags
  white-space normal

/**********
 * Error
 **********/
.ghh-error
  max-width 320px

  p
    line-height 1.6
    white-space normal

  ul
    padding-left 16px

  li
    list-style-type square

  .octicon
    display inline-block
    position static
    margin-right 5px

/**********
 * Overlay
 **********/
.ghh-overlay
  position fixed
  z-index 10000000
  top 0
  right 0
  bottom 0
  left 0
  background-color rgba(0, 0, 0, .6)

  form
    position absolute
    top 38.2%
    left 50%
    transform translate(-50%, -38.2%)
    border 3px solid rgba(0, 0, 0, .75)
    padding 15px 20px
    border-radius 5px
    background-color #fff

    h3
      margin-bottom 10px
      border-bottom 1px solid #eee
      padding-bottom 10px
      font-size 16px

      .octicon
        vertical-align middle

    p:last-child
      display flex
      margin 15px 0 5px

      button
        flex 0 0 auto
        margin-left 10px

      input
        flex 1 1 auto

/*******************
 * Conflict resoler
 *******************/
.ghh
  &-user,
  &-repo,
  &-issue,
  &-comment,
  &-commit
    &-x.tooltipped
      &::before,
      &::after
        display none !important
