/**********
 * Utils
 **********/
$sans-serif = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$monospace = Consolas, "Liberation Mono", Menlo, Courier, monospace
$bright-background = rgba(255, 255, 255, .15)
$light-background = rgba(108, 108, 108, .5)
$primary-color = #0366d6

$gh-border-color = #d1d5da
$gh-light-border-color = #dfe2e5
$gh-dark-text-color = #24292e
$gh-link-color = #0366d6

/**********
 * Global
 **********/
.ghh
  max-width 320px
  min-width 160px
  font-style normal
  line-height 2
  font-family $sans-serif
  hyphens auto

  &.extended
    max-width 640px

  p
    margin 0 0 4px
    vertical-align middle
    line-height 1.2
    ellipsis()
    clear both

  a
    color lightness($primary-color, 85%)

  small
    opacity .8

  [title]
    cursor help

  .octicon
    fill currentColor

  &-markdown-separator
    display none

  .windows &
    ::-webkit-scrollbar
      width 20px
      height 20px
      padding 3px
      background-color transparent

    ::-webkit-scrollbar-button
      display none

    ::-webkit-scrollbar-thumb
      background-color $bright-background
      border: 6px solid transparent
      background-clip: padding-box
      border-radius: 12px

    ::-webkit-scrollbar-corner
      background-color transparent

.Popover
  z-index 2147483647 !important

/**********
 * Mixins
 **********/
ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

square(s)
  width s
  height s

/**********
 * Placeholders
 **********/
$with-large-icon
  position relative
  margin-top 2px
  margin-bottom 12px
  padding-left 24px

  .octicon
    position absolute
    top 0
    left 0
    line-height 1


$fix-margin
  & > :first-child
    margin-top 0

  & > :last-child
    margin-bottom 0

$markdown-body
  @extends $fix-margin

  clear left
  overflow auto
  max-height 280px
  margin 8px 0 3px
  padding 8px 10px
  border-radius 2px
  background-color $bright-background
  font-size 12px
  line-height 1.6
  word-wrap break-word

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    margin-top 1em
    margin-bottom 12px
    font-weight 600
    line-height 1.4

    tt,
    code
      font-size inherit
      font-family $monospace

  h1
    font-size 1.25em
  h2
    font-size 1.2em
  h3
    font-size 1.15em
  h4
    font-size 1.1em
  h5
    font-size 1.05em
  h6
    font-size 1em

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre
    margin-top 0
    margin-bottom 1em

  hr
    height 0
    padding 0
    margin 16px 0

  a:not([href])
    color inherit

  p
    overflow visible
    white-space normal
    line-height 1.6

  ul,
  ol
    padding-left 2em

    ol,
    ul
      margin-top 0
      margin-bottom 0

  dl
    padding 0

  dt
    padding 0
    margin-top 1em
    font-size 1em
    font-style italic
    font-weight 600

  dd
    padding 0 1em
    margin-bottom 1em

  blockquote
    border-left .25em solid $gh-light-border-color
    color #6a737d
    padding 0 1em

  table
    width 100%
    overflow auto
    word-break normal
    word-break keep-all

  th
    font-weight 600

  th,
  td
    padding .5em 1em

  img
    max-width 100%
    height auto

  code,
  tt
    padding .2em .4em
    margin 0
    background-color rgba(27,31,35,.05)

    br
      display none

  pre
    padding .6em
    overflow auto
    line-height 1.45
    word-wrap normal
    font-family $monospace
    background-color #f6f8fa

    code,
    tt
      background-color transparent

  img
    max-width 100%
    box-sizing content-box

    &[align="left"]
      max-width 30% !important
      padding-right 20px

    &[align="right"]
      max-width 30% !important
      padding-left 20px

  /* some special vendor optimizations */
  a[href^="https://saucelabs.com/"] img
    background-color #fff
    border-radius 2px

  .ghh-theme-github &
    a
      color $gh-link-color

      &:hover
        text-decoration underline

    .user-mention
      color $gh-dark-text-color

    h1,
    h2
      border-bottom 1px solid #eaecef
      padding-bottom .3em

    tr
      background-color #fff
      border-top 1px solid #c6cbd1

    tr:nth-child(2n)
        background-color #f6f8fa

    th,
    td
      border 1px solid #dfe2e5

  .ghh-theme-classic &

    hr
      border-bottom 2px dotted rgba(255, 255, 255, .2)

    blockquote
      border-left 3px solid #ccc

    th,
    tr:nth-child(even) td
      background-color $light-background

    th,
    td
      border 1px solid #777

    code,
    tt
      background-color $bright-background
      border-radius 2px

    pre
      background-color $light-background
      border-radius 2px

      code,
      tt
        background-color transparent

    .border.rounded-1.my-2
      overflow hidden

    .px-3.py-2
      padding .6em !important

    .border
      border 1px solid rgba(255, 255, 255, .2) !important

    .border-bottom
      border-bottom 1px solid rgba(255, 255, 255, .1) !important

    .rounded-1
      border-radius 2px !important

    .text-gray-light
      color #fff !important

    .f6
      font-size 11px !important

    .bg-gray-light
      background-color $bright-background !important

    .bg-white
      background-color transparent !important

    .blob-wrapper
      padding .5em 0 !important
      background-color $light-background !important

    .blob-num
      min-width 30px !important
      padding 0 .6em !important
      color rgba(255, 255, 255, .5) !important
      font-family $monospace !important

    .blob-num,
    .blob-code
      line-height 1.45

    .blob-code-inner
      color #fff !important
      font-family $monospace !important

    .js-line-number
      pointer-events none !important
      cursor default

$contribution
  p
    line-height 18px

  .ghh-branch
    display flex
    font-size 12px

  .commit-ref
    flex 0 1 auto
    border-radius 2px
    background-color $bright-background
    color inherit
    font-size inherit
    ellipsis()

    & + span
      flex 0 0 auto
      float left
      padding 0 5px

      & > .octicon
        height 22px
        vertical-align middle

    & + .octicon
      margin 0

    .user
      color inherit
      opacity .5

  .octicon
    opacity .8
    margin-left 10px

    &:first-child
      margin-left 0

  .diffstat
    margin-left 10px

  .text-diff-added
    color #84d063 !important

  .text-diff-deleted
    color #ff3c00 !important

/**********
 * Common
 **********/
.ghh
  button
    display inline-flex
    align-items center
    padding 0 4px
    border-radius 2px
    border none
    outline none
    color #fff
    line-height 1.8
    font-size 90%
    font-weight 600

    &:disabled
      opacity .75
      cursor default

    &.ghh-primary
      background-color alpha($primary-color, .8)

      &:hover
        background-color $primary-color

    &.ghh-aux
      background-color rgba(255, 255, 255, .2)
      color rgba(255, 255, 255, .8)

      &:hover
        background-color rgba(255, 255, 255, .3)
        color #fff

    .octicon
      position static
      margin-right 6px

  .ghh-state
    display inline-flex
    align-items center
    margin-right 5px
    padding 0 4px
    border-radius 3px
    color #fff
    font-weight 600
    line-height 20px
    vertical-align middle
    text-align center
    text-transform capitalize

    &-open
      background-color #2cbe4e

    &-closed
      background-color #cb2431

    &-merged
      background-color #6f42c1

    .octicon
      margin-right 4px
      vertical-align -3px

    &-alert
      color #ff3c00

    &-success
      color #84d063

    &-warning
      color #dbab09

  .ghh-state-verified
    background-color #28a745

.ghh-title-row
  display flex

  .ghh-title
    flex 0 1 auto
    ellipsis()

    &.no-meta
      flex-grow 1

  .ghh-meta,
  button
    white-space nowrap
    margin-left 10px

  .ghh-meta
    flex 0 0 auto
    margin-left 5px
    line-height 15px

    &:last-of-type
      flex-grow 1

  button
    flex 0 0 auto
    transition all .3s

/**********
 * More
 **********/
.ghh-more
  clear left

  &-separator
    height 0
    margin 10px 0 5px
    padding 0
    border-bottom 1px dotted rgba(255, 255, 255, .2)

  p
    position relative
    padding-left 18px
    line-height 18px

  strong
    font-weight 600

  .ghh-repo-desc
    white-space normal
    height auto

  .emoji
    vertical-align middle

  .octicon
    position absolute
    top 2px
    left 0
    width 16px
    margin 0
    opacity .8

/**********
 * User
 **********/
.ghh-person
  @extends $with-large-icon
  min-height 32px
  margin-bottom 8px
  padding-left 40px

  strong
    font-size 120%

.ghh-avatar
  position absolute
  top 0
  left 0
  square(32px)
  margin 0 8px 8px 0
  border 2px solid rgba(255, 255, 255, .1)
  border-radius 2px
  background-color #fff

/**********
 * Repo
 **********/
.ghh-repo
  @extends $with-large-icon

  strong
    font-size 110%
    font-weight 600

  p
    max-width 296px

  .ghh-title
    font-size 13px
    flex-grow 1

.ghh-topic
  display inline-block
  margin-bottom 3px
  padding 0 3px
  background-color $bright-background
  color #fff
  line-height 18px
  text-decoration none !important
  border-radius 3px

  &:not(:last-child)
    margin-right 4px

.ghh-stats
  display flex
  min-width 180px
  margin-bottom 10px
  padding 3px
  border-radius 2px
  background-color $bright-background
  line-height 1

  strong,
  span
    display block
    padding 2px 4px
    line-height 1
    text-align center

  span
    font-style 70%
    color #fff
    opacity .8

  a
    display block
    flex 1 1 auto

    &:hover
      text-decoration none

.ghh-readme
  @extends $markdown-body

/**********
 * Issue
 **********/
.ghh-issue
  margin-bottom 8px

  strong
    font-size 120%

  .issue-number
    opacity .8

.ghh-issue-meta
  p
    line-height 16px

  .ghh-avatar
    margin 0 5px 0 0
    square(16px)
    border-width 1px
    vertical-align middle
    line-height 1.2

.ghh-pull-meta
  @extends $contribution

  .ghh-reviews
    margin-top 8px
    display flex
    flex-wrap wrap

    li
      display inline-flex
      align-items center
      margin-right 5px
      margin-bottom 4px
      padding 0 5px
      border-radius 2px
      background-color $bright-background
      height 22px
      line-height 22px

      .octicon
        margin-right 3px

    .ghh-state-normal
      .octicon
        position relative
        top 1px

    .ghh-state-icon
      display inline-flex
      align-items center
      align-content center
      margin-right 3px
      width 12px
      height 12px
      border-radius 50%
      vertical-align -1.5px
      color #fff

      .octicon
        margin auto

      &-alert
        background-color #ff3c00

      &-success
        background-color #84d063

      &-warning
        background-color #dbab09

      &-problem
        background-color #6a737d

        .octicon
          position relative
          top -1px

.ghh-issue-body
  @extends $markdown-body

/**********
 * Commit
 **********/
.ghh-commit
  margin-bottom 8px

  strong
    font-size 120%


.ghh
  .ghh-commit-author
    margin-bottom 6px

  .ghh-tags
    white-space normal

.ghh-commit-meta
  @extends $contribution

.ghh-commit-body
  overflow auto
  max-height 280px
  margin 8px 0 10px
  padding 8px 10px
  border-radius 2px
  background-color $bright-background
  font-family $monospace
  font-size 12px
  line-height 1.2
  white-space pre-wrap
  word-wrap break-word

.ghh-tags
  white-space normal

/**********
 * Error
 **********/
.ghh-error
  max-width 320px

  p
    line-height 1.6
    white-space normal

  ul
    padding-left 16px

  li
    list-style-type square

  .octicon
    display inline-block
    position static
    margin-right 5px

/**********
 * Overlay
 **********/
.ghh-overlay
  position fixed
  z-index 10000000
  top 0
  right 0
  bottom 0
  left 0
  background-color rgba(0, 0, 0, .6)

  form
    position absolute
    top 38.2%
    left 50%
    transform translate(-50%, -38.2%)
    border 3px solid rgba(0, 0, 0, .75)
    padding 15px 20px
    border-radius 5px
    background-color #fff

    h3
      margin-bottom 10px
      border-bottom 1px solid #eee
      padding-bottom 10px
      font-size 16px

      .octicon
        vertical-align middle

    p:last-child
      display flex
      margin 15px 0 5px

      button
        flex 0 0 auto
        margin-left 10px

      input
        flex 1 1 auto

/*******************
 * Conflict resolver
 *******************/
.ghh
  &-user,
  &-repo,
  &-issue,
  &-comment,
  &-commit
    &-x.tooltipped
      &::before,
      &::after
        display none !important

/*******************
 * Theme `github`
 *******************/
.ghh-theme-github
  .tooltipster-box
    .tooltipster-content
      box-shadow 0 1px 15px rgba(27, 31, 35, .15)
      background-color #fff
      border 1px solid $gh-border-color
      border-radius 3px
      padding 16px
      color #586069
      font-size 14px
      line-height 1.5

    .loading
      display block
      margin 0 32px

  .tooltipster-arrow-background
    width 14px
    height 14px

  .tooltipster-arrow-background
    display block
    border 7px solid transparent

  .tooltipster-right
    .tooltipster-arrow
      left 1px

    .tooltipster-arrow-background
      border-right-color #fff
      top 1px
      left 2px

    .tooltipster-arrow-border
      border-right-color $gh-border-color

  .tooltipster-left
    .tooltipster-arrow
      right 1px

    .tooltipster-arrow-background
      border-left-color #fff
      top 1px
      left 0

    .tooltipster-arrow-border
      border-left-color $gh-border-color

  .tooltipster-top
    .tooltipster-arrow
      bottom 1px

    .tooltipster-arrow-background
      border-top-color #fff
      top 0
      left 1px

    .tooltipster-arrow-border
      border-top-color $gh-border-color


  .tooltipster-bottom
    .tooltipster-arrow
      top 1px

    .tooltipster-arrow-background
      border-bottom-color #fff
      top 2px
      left 1px

    .tooltipster-arrow-border
      border-bottom-color $gh-border-color

  .ghh
    width 328px

    a
      color $gh-dark-text-color

      &:hover
        color $gh-link-color
        text-decoration none

    p
      line-height 1.5

    button
      &.ghh-aux
        background-color alpha($primary-color, .4)
        color #fff

      &:hover
        background-color alpha($primary-color, .6)
        color #fff

    &-markdown-separator
      display block
      margin 16px -16px
      border-bottom 1px solid $gh-light-border-color

    .ghh-person
      padding-left 60px

    .ghh-avatar
      width 48px
      height 48px
      border-radius 3px
      border none

    .ghh-stats
      margin 16px -16px

      & > a + a
        border-left 1px solid $gh-light-border-color

      span
        color $gh-dark-text-color
        opacity 0.5

    .ghh-title-row
      align-items center

    .ghh-more
      p
        padding-left 24px
        line-height 1.5

      .octicon
        top .3em

      &-separator
        margin 12px -16px
        border-bottom: 1px solid $gh-light-border-color

    .ghh-readme,
    .ghh-issue-body
      font-size 14px

    .state
      display inline-flex
      align-items center
      padding 2px 4px
      font-size 12px
      font-weight 400
      vertical-align middle

      .octicon
        width 12px
        height 12px
        margin-right 4px

    .ghh-state
      font-size 12px
      font-weight 400

    .ghh-state-verified
      color #22863a
      border 1px solid #e1e4e8
      background-color #fff
      font-size 10px
      padding 0 4px
      line-height 20px

  .ghh-repo
    padding-left 36px

    & > .octicon
      width 32px
      height 32px

    .ghh-title
      font-size 14px

    p
      max-width none

  .ghh,
  .ghh-error
    max-width none

  .ghh-pull-meta
    .ghh-reviews
      margin-top 4px

  .ghh-commit-meta,
  .ghh-pull-meta
    .text-diff-added
      color #2cbe4e !important

    .text-diff-deleted
      color #cb2431 !important

  .commit-ref
    padding 0
    float none

  .ghh-reviews
    font-size 12px

    li
      margin-right 10px
      padding 0

    .ghh-state
      &-alert
        color #cb2431

      &-success
        color #2cbe4e

      &-warning
        color #b08800

    .ghh-state-icon
      &-alert
        background-color #cb2431

      &-success
        background-color #2cbe4e

      &-warning
        background-color #b08800

      &-problem
        background-color #6a737d
