/*! Tomorrow theme from GitHub-Dark (https://github.com/StylishThemes/GitHub-Dark) */
.ghh
    .pl-c,
    .pl-c span
        color: #969896

    .pl-c1
        color: #de935f

    .pl-cce
        color: #de935f

    .pl-cn
        color: #de935f

    .pl-coc
        color: #de935f

    .pl-cos
        color: #b5bd68

    .pl-e
        color: #f0c674

    .pl-ef
        color: #f0c674

    .pl-en
        color: #f0c674

    .pl-enc
        color: #de935f

    .pl-enf
        color: #f0c674

    .pl-enm
        color: #f0c674

    .pl-ens
        color: #de935f

    .pl-ent
        color: #b294bb

    .pl-entc
        color: #f0c674

    .pl-enti
        color: #f0c674
        font-weight: 700

    .pl-entm
        color: #cc6666

    .pl-eoa
        color: #b294bb

    .pl-eoac
        color: #cc6666

    .pl-eoac .pl-pde
        color: #cc6666

    .pl-eoai
        color: #b294bb

    .pl-eoai .pl-pde
        color: #b294bb

    .pl-eoi
        color: #f0c674

    .pl-k
        color: #b294bb

    .pl-ko
        color: #b294bb

    .pl-kolp
        color: #b294bb

    .pl-kos
        color: #de935f

    .pl-kou
        color: #de935f

    .pl-mai .pl-sf
        color: #cc6666

    .pl-mb
        color: #b5bd68
        font-weight: 700

    .pl-mc
        color: #b294bb

    .pl-mh
        color: #8db4f5

        .pl-pdh
            color: #de935f

    .pl-mi
        color: #b294bb

    .pl-ml
        color: #b5bd68

    .pl-mm
        color: #cc6666

    .pl-mp
        color: #81a2be

    .pl-mp1 .pl-sf
        color: #81a2be

    .pl-mq
        color: #de935f

    .pl-mr
        color: #b294bb

    .pl-ms
        color: #b294bb

    .pl-pdb
        color: #b5bd68
        font-weight: 700

    .pl-pdc
        color: #969896

    .pl-pdc1
        color: #de935f

    .pl-pde
        color: #de935f

    .pl-pdi
        color: #b294bb

    .pl-pds
        color: #b5bd68

    .pl-pdv
        color: #cc6666

    .pl-pse
        color: #de935f

    .pl-pse .pl-s2
        color: #de935f

    .pl-s
        color: #b294bb

    .pl-s1
        color: #b5bd68

    .pl-s2
        color: #c5c8c6

    .pl-mp .pl-s3
        color: #b294bb

    .pl-s3
        color: #81a2be

    .pl-sc
        color: #c5c8c6

    .pl-scp
        color: #de935f

    .pl-sf
        color: #dad085

    .pl-smc
        color: #f0c674

    .pl-smi
        color: #c5c8c6

    .pl-smp
        color: #c5c8c6

    .pl-sok
        color: #b294bb

    .pl-sol
        color: #b5bd68

    .pl-som
        color: #cc6666

    .pl-sr
        color: #cc6666

    .pl-sra
        color: #b294bb

    .pl-src
        color: #b294bb

    .pl-sre
        color: #b294bb

    .pl-st
        color: #b294bb

    .pl-stj
        color: #c5c8c6

    .pl-stp
        color: #de935f

    .pl-sv
        color: #de935f

    .pl-v
        color: #de935f

    .pl-vi
        color: #de935f

    .pl-vo
        color: #cc6666

    .pl-vpf
        color: #de935f

    .pl-mi1
        color: #8f9d6a
        background: rgba(0,64,0,.5)

    .pl-mdht
        color: #8f9d6a
        background: rgba(0,64,0,.5)

    .pl-md
        color: #cc6666
        background: rgba(64,0,0,.5)

    .pl-mdhf
        color: #cc6666
        background: rgba(64,0,0,.5)

    .pl-mdr
        color: #de935f
        font-weight: 400

    .pl-mdh
        color: #cc6666
        font-weight: 400

    .pl-mdi
        color: #cc6666
        font-weight: 400

    .pl-ib
        background-color: #cc6666

    .pl-id
        background-color: #cc6666
        color: #fff

    .pl-ii
        background-color: #cc6666
        color: #fff

    .pl-iu
        background-color: #cc6666

    .pl-mo
        color: #c5c8c6

    .pl-mri
        color: #de935f

    .pl-ms1
        background-color: #c5c8c6

    .pl-va
        color: #de935f

    .pl-vpu
        color: #de935f

    .pl-entl
        color: #c5c8c6
